FOO = "bar"
SECRET_VALUE = "blah"
BOOL_VALUE = False
VALID_DID_SCHEMES = "rucio"
DID_FINDER_DEFAULT_SCHEME = "rucio"
OBJECT_STORE_ENABLED = False
TRANSFORMER_MANAGER_ENABLED = False
RABBIT_MQ_URL = "amqp://foo.com"
CODE_GEN_SERVICE_URL = "http://code.gen"
ADVERTISED_HOSTNAME = "service.x"
TRANSFORMER_DEFAULT_IMAGE = "dev"