servicex-transformer==0.4.4.post1
requests>=2.22.0
kafka-python
confluent_kafka==1.2.0
pika
minio
pytest
pytest-mock
flake8==3.5
coverage==4.5.2
codecov==2.0.15
uproot
awkward>=0.12.0
xxhash
lz4
pyarrow==0.16.0
numpy==1.16.6
