{% extends 'admin/master.html' %}

{% macro view_table(views) %}
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>View</th>
      <th>Endpoint</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {% for view in views %}
    <tr>
      <td>{{ view.name }}</td>
      <td>{{ view.endpoint }}</td>
      <td><a href="{{ view.url }}">{{ view.url }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% block body %}
<h2>ServiceX Admin</h2>

{% if model_views %}
<h4 class="mt-4">Model Views</h4>
{{ view_table(model_views) }}
{% endif %}

{% if other_views %}
<h4 class="mt-4">Other Views</h4>
{{ view_table(other_views) }}
{% endif %}

{% if report_views %}
<h4 class="mt-4">Reports</h4>
{{ view_table(report_views) }}
{% endif %}

{% endblock %}
