  <html>

  <head>
    {% if title %}
    <title>{{ title }} - ServiceX</title>
    {% else %}
    <title> Welcome to ServiceX! </title>
    {% endif %}
  </head>

  <body>
    <div class='container'>
      <h3>ServiceX</h3>
      <form action="registration" method="POST">
        <h3> register </h3>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>

  </html>
