  <html>

  <head>
    {% if title %}
    <title>{{ title }} - ServiceX</title>
    {% else %}
    <title> Welcome to ServiceX! </title>
    {% endif %}
  </head>

  <body>
    <div class='container'>
      <h3>ServiceX</h3>
      <form action="registration" method="POST">
        <h3> register </h3>
        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="institution">Institution:</label><br>
        <input type="text" id="institution" name="institution"><br>
        <label for="experiment">Experiment:</label><br>
        <select type="text" id="experiment" name="experiment">
          <option value="ATLAS">ATLAS</option>
          <option value="CMS">CMS</option>
        </select><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirmation">Confirm Password:</label><br>
        <input type="password" id="confirmation" name="confirm_password"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>

  </html>
