[flake8]
max-line-length = 150
# E203 conflicts with Black in slices (Black considers `:` a binary operator there).
extend-ignore = E203
exclude =
    .tox,
    __pycache__
    validate_requests.py
    find_m.py
    messaging.py
    .local
    build
    migrations
