nav#mainNav.navbar.navbar-expand-lg.fixed-top(style='background-image: linear-gradient(#04519b, #044687 60%, #033769);')
  .container
    a.navbar-brand(href='/')
      img.d-inline-block.align-top(src='/images/sx_logo.ico', width='32', height='32', alt='')
      |  ServiceX
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        
        li.nav-item
          a.nav-link(href='/about') About
        
        li.nav-item
          a.nav-link(href='https://ssl-hep.github.io/ServiceX/') Docs
        
        if user && user.approved 
          li.nav-item
          a.nav-link(href='/requests') Requests
          
        if user && !user.approved
          li#login_button.nav-item
            a.nav-link(href='/login') Login
        
        if user
          li#profile_button.nav-item
            a.nav-link(href='/profile') Profile
