[flake8]
max-line-length = 99
exclude =
    .tox,
    __pycache__
    validate_requests.py
    find_m.py
    messaging.py
    .local
    build
    migrations
    ./test_posix_vol/sample_files
    ./test_posix_vol/generated_code




