FOO = "bar"
SECRET_VALUE = "blah"
BOOL_VALUE = False
VALID_DID_SCHEMES = "rucio"
DID_FINDER_DEFAULT_SCHEME = "rucio"
OBJECT_STORE_ENABLED = False
TRANSFORMER_MANAGER_ENABLED = False
RABBIT_MQ_URL = "amqp://foo.com"
CODE_GEN_SERVICE_URL = "http://code.gen"
ADVERTISED_HOSTNAME = "service.x"

CODE_GEN_SERVICE_URLS = {
    'uproot':'http://localhost:8000',
    'xAOD':'http://localhost:8000',
    'python': 'http://localhost:8000'
}
CODE_GEN_IMAGE = {
    'uproot':'http://localhost:8000',
    'xAOD':'http://localhost:8000',
    'python': 'http://localhost:8000'
}

TRANSFORMER_SCIENCE_IMAGES = {
    'uproot':'http://localhost:8000',
    'xAOD':'http://localhost:8000',
    'python': 'http://localhost:8000'
}