FOO = "bar"
SECRET_VALUE = "blah"
BOOL_VALUE = False
VALID_DID_SCHEMES = "rucio"
DID_FINDER_DEFAULT_SCHEME = "rucio"
OBJECT_STORE_ENABLED = False
TRANSFORMER_MANAGER_ENABLED = False
RABBIT_MQ_URL = "amqp://foo.com"
CODE_GEN_SERVICE_URL = "http://code.gen"
ADVERTISED_HOSTNAME = "service.x"

CODE_GEN_SERVICE_URLS = {
    'atlasxaod': 'http://servicex-code-gen-atlasxaod:8000',
    'cms': 'http://servicex-code-gen-cms:8000',
    'python': 'http://servicex-code-gen-python:8000',
    'uproot': 'http://servicex-code-gen-uproot:8000'
}

CODE_GEN_IMAGES = {
    'atlasxaod': 'sslhep/servicex_code_gen_func_adl_xaod:develop',
    'cms': 'sslhep/servicex_code_gen_cms_aod:develop',
    'python': 'sslhep/servicex_code_gen_python:develop',
    'uproot': 'sslhep/servicex_code_gen_func_adl_uproot:develop'
}

