doctype html
html
    include ./head.pug
    body
        include ./navigation.pug

        section#gtco-header.bg-light
            .container
                #extabs
                    ul
                        li 
                            a(href='#fragment-1') Info
                        li
                            a(href='#fragment-2') Setup
                        li
                            a(href='#fragment-3') Code
                        li 
                            a(href='#fragment-4') Data
                    #fragment-1
                        .row
                            .col-lg-5.mx-auto
                                h2 Experiment
                                p.lead
                                | Define your experiment.
                            .col-lg-6.mx-auto
                                if experiment.id
                                    - var butt='UPDATE'
                                    h2 Edit Experiment
                                else
                                    - var butt='CREATE'
                                    h2 Create Experiment
                                form#experiment_update(action='#')
                                    .form-group
                                        label(for='name') Name *
                                        input#name.form-control(type='text',required='',value=experiment.name)
                                        p#name_valid
                                    .form-group
                                        label(for='description') Description * 
                                        input#description.form-control(type='text',required='',value=experiment.description)
                                        p#description_valid
                                    .form-group
                                        label(for='exp_url') Experiment web page/github repo
                                        input#exp_url.form-control(type='text', value=experiment.url)
                                    if experiment.id
                                        .form-group
                                            label(for='status') Status
                                            br
                                            select#status(name='status')
                                                option(selected='selected') Paused
                                                option Running
                                                option Done
                                    .form-group
                                        button#experiment_update_button.btn.btn-primary #{butt} 
                                        if experiment.id
                                            | &nbsp;
                                            button#experiment_delete_button.btn.btn-primary Delete 
                    #fragment-2
                        | Part 2ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    #fragment-3
                        | Part 3
                    #fragment-4
                        | Part 4

        
        include ./footer.pug
        script(src='/js/main.js')
        script(src='/js/handling.js')


