doctype html
html
    include ./head.pug
    body
        include ./navigation.pug
        header#home.bg-default.text-white
            .container
                .row
                    .col-lg-5.mx-auto
                        h1 ServiceX
                        p.lead
                        | Smart data delivery for all of your analyis needs.  
                        | Simply select RUCIO did and columns you want delivered. 
                        | You'll recieve a token and address to use to get your data.
                        | You can directly use our REST API, but we provide easy to use clients for python and c/c++.
                        | We support multiple delivery formats and can scale to hundreds of WNs. 
                        | For any info and requests please contact 
                        a(href='mailto:ivukotic@uchicago.edu') Ilija Vukotic.
                        p Login using your own institution sign on.
                    .col-lg-4.mx-auto
                        img(src='images/cube.png', style='width:40%;')

        include ./footer.pug

        //- script(src='js/main.js')