extends ./index.pug

block content
    section#gtco-header.bg-light
        .container
            .col-lg-12.mx-auto
                h2 Users
                p.lead 
                | Here a list of all the users of the platform.
                
            .col-md-12.col-md-offset-0.text-left
                table#users_table.display()
                    thead
                        tr
                        th Name
                        th Email
                        th Affiliation
                        th Registered on
                        th Authorized
                        th Authorized on

block extra_scripts
    script(src='/js/users.js')