hr
- var fo=" "
- if (name) fo+=name+" | ";
  
footer.py-7.bg-light
  .container
    .col-md-12.mx-auto
      small.m-0.text-left(<p='')
        p #{fo}   © 2019 University of Chicago. This platform is supported by the Enrico Fermi Institute at the University of Chicago.
      

// for production 

// jquery - .get .ajax etc.
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
// jquery-ui
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous")
// datatables
script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

// twitter bootstrap for mobile
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous")

// poppers management https://popper.js.org/
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI=" crossorigin="anonymous")