doctype html
html
    include ./head.pug
    body
        include ./navigation.pug
        header#home.bg-default.text-white
            .container
                .row
                    .col-lg-5.mx-auto
                        h1 ГАТЕС
                        p.lead
                        | Quickly set up an AB test. Instrument your code with our API (shell, python, C/C++).  
                        | We keep track of decissions made and optionally results obtained. 
                        | We inform you when your test reaches statistical significance. You can download AB mapping (txt, csv, hdf5,...) 
                        | to use with your analytics platform or get conclusions directly from our plots (if results provided). 
                        | If you need something exotic jusk 
                        a(href='mailto:ivukotic@uchicago.edu') ask
                        | .
                        | Login using your own institution sign on.
                        p Hosted on ATLAS MWT2 hardware at University of Chicago.
                    .col-lg-4.mx-auto
                        img(src='images/cube.png', style='width:40%;')

        include ./footer.pug

        script(src='js/main.js')