/**
 * ServiceX API
 * An API for client submitting requests for the data delivery, requesting event batches, returning processing status.
 *
 * OpenAPI spec version: 1.2.0
 * Contact: ilijav@gmail.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.DataSpec
import io.swagger.client.model.InlineResponse200
import io.swagger.client.model.RequestStatus
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (request token)
   *   code 400 :  (Status 400)
   *   code 401 :  (Status 401)
   * 
   * @param body 
   */
  def dataPost(body: DataSpec): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.POST, "https://servicex.slateci.net", "/data", "application/json")
      .withBody(body)
      .withSuccessResponse[InlineResponse200](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : RequestStatus (Status 200)
   *   code 400 :  (Status 400)
   * 
   * @param requestId 
   */
  def dataRequestIdGet(requestId: String): ApiRequest[RequestStatus] =
    ApiRequest[RequestStatus](ApiMethods.GET, "https://servicex.slateci.net", "/data/{request_id}", "application/json")
      .withPathParam("request_id", requestId)
      .withSuccessResponse[RequestStatus](200)
      .withErrorResponse[Unit](400)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (Status 200)
   */
  def healthzGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://servicex.slateci.net", "/healthz", "application/json")
      .withSuccessResponse[Unit](200)
      

}

